* {
    font-family: Motherland;
    color: red;
}

.main-container {
    margin: 3% 0 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container a {
    animation-name: moveInYAxis;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.headerInstructions {
  text-align: center;
  font-size: 30px;
}

.instructions {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 1%;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
    text-align: center;
  }

@keyframes moveInYAxis {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(20px);
    }
}

@font-face {
    font-family: 'Motherland';
    src: URL('../assets/fonts/motherland/motherland.ttf') format('truetype');
  }
