#game {
  background-image: url("../assets/images/Flag_of_the_Soviet_Union.png");
  background-repeat: no-repeat;
  background-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
