* {
  font-family: Motherland;
  color: yellow;
}

#game {
  background-image: url("../assets/images/Flag_of_the_Soviet_Union.png");
  background-repeat: no-repeat;
  background-position: center;
}

#start {
  margin: 0;
  font-size: 300%;
}

.levels {
  font-size: 300%;
  text-align: center;
}

.levelSelection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
  font-family: 'Motherland';
  src: URL('../assets/fonts/motherland/motherland.ttf') format('truetype');
}
